

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/pattern.jpg");
  
  
}
.table1 {
    border-collapse: collapse;
    width: 45%;
    height: 28%;
    padding: 30px;
  }

.table2{
    border-collapse: collapse;
    width: 25%;
}
.button1{
    background-color: rgb(30, 34, 255);
    color: white;
    height: 6%;
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.button1:hover {
    background-color: #8570fa;
    color: white;
 }
.header {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px 5px;
    position: fixed;
    width: 100%;
    
  }
 
  .content {
    padding: 70px;
  }
 
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
 
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
 
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  

  .header-right {
    float: right;
    padding: 0px 40px;
    
  }
  #article-list {
      margin-left: 300px;
      margin-right: 300px;
  }
 #home{
      padding: 0px;
      margin: 0px;
  }
  
  @media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    padding: 40px 25px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cardcenter{
      display: flex;
      justify-content: center;
      flex-direction: row;
  }
  
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:black;
    padding: 5px 2.5px;
    color: white;
    text-align: center;
    
  }
 